#modal_login, #modal_contacto, #modal_registro, #modal_cuenta {
	display: none;
	position: absolute;
	top: 150;
	right: 0;
	left: 0;
	background-color: #812d0e;
	margin: 0 auto;
	padding: 25px 20px;
}
#modal_btn_cerrar {
	width: 100%;
    margin-top: 30px;
}
/* #modal_btn_cerrar {
	position: absolute;
	top: -10px;
	right: -10px;
	border-radius: 18px;
    padding: 2px 10px;
} */
#modal_btn_cerrar:hover {
	color: black;
}